<div class="panel panel-primary">
    <div class="panel-heading">Search Results</div>
    {{partial "medication-listing"}}
</div>
{{#if model}}
    <button class="btn btn-primary" {{action 'newMedication'}}>New Request</button>
{{/if}}