{{#each formsToDisplay as |customForm|}}
  <h4>{{customForm.form.name}}</h4>
  {{custom-form model=model form=customForm.form propertyPrefix=customForm.propertyPrefix}}
{{/each}}
{{#if showAddButton}}
  <div class="row">
    <div class="col-sm-2">
      <label class="control-label">&nbsp;</label>
      <p class=" form-control-static">
        <button class="btn btn-primary" {{action 'addForm' bubbles=false }}>
          <span class="octicon octicon-plus"></span>
          {{t 'components.customFormManager.buttons.addForm'}}
        </button>
      </p>
    </div>
  </div>
{{/if}}
