{{#each locationPickers as |locationPicker|}}
  <div class="form-group">
    <label class="control-label">{{locationPicker.label}}</label>
    {{location-select locationPicker=locationPicker }}
  </div>
{{/each}}
