<div class="panel panel-success" {{action 'linkToPatient'}}>
  <div class="panel-body">
    {{partial 'patients/summary' }}
    <div>
      <button type="button" class="btn btn-default neutral" {{action "showPatientHistory" model bubbles=false on="click"}}>View History</button>
      {{#if canAddNote}}
        <button type="button" class="btn btn-primary align-right" {{action "showAddPatientNote" bubbles=false on="click"}}>
          <span class="octicon octicon-plus"></span>Add Note
        </button>
      {{/if}}
    </div>
  </div>
</div>