<div class="panel detail-section">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{t 'components.priceList.charges' pricingType=pricingType}}
    </h3>
  </div>
  <div class="panel-body detail-section-content">
    <table class="table table-bordered">
      <tbody>
        {{#each pricingListByType as |pricingList|}}
          <tr>
            {{#each pricingList as |price|}}
              {{charge-quantity pricingItem=price model=model}}
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
