{{#if sorted}}
  <span class="octicon {{if sortDesc 'octicon-triangle-down' 'octicon-triangle-up'}}"></span>
{{else}}
  <span class="octicon octicon-triangle-down inactive"></span>
{{/if}}

{{yield}}
