{{#if canCaptureVideo}}
    {{em-select 
        label="How Do You Want To Add A Photo?" 
        property="photoSource"
        content=photoSources 
        optionValuePath="content"
        optionLabelPath="content"
    }}
    {{#if showCameraSelect}}
        {{em-select 
            label="Camera" 
            property="selectedCamera"
            content=videoSources 
            optionValuePath="content.id"
            optionLabelPath="content.label"
        }}
    {{/if}}
    <div class="camera">
        <div class="row">
            <div class="col-sm-4">
                <h2>Preview</h2>
                <video></video>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <h2>Photo</h2>
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-default neutral" {{action 'takePhoto'}}>Take photo</button>
        </div>
    </div>
{{/if}}
<div class="fileupload">
    <h2>Upload Photo</h2>
    {{image-upload label="Upload File" property="fileName" selectedFile=photoFile }}
</div>