  <div class="form-group">
    <label for="cameraSelect">Camera</label>
    {{view Ember.Select id="cameraSelect" 
        content=videoSources 
        optionValuePath="content.id"
        optionLabelPath="content.label"
        selection=selectedCamera
    }}
  </div>

<h2>Preview</h2>
<video></video>
<div class="row">
    <button class="btn btn-default neutral" {{action 'takePhoto'}}>Take photo</button>
</div>

<h2>Photo</h2>
<canvas id="canvas"></canvas>