{{#if canCaptureVideo}}
    {{#if showCameraSelect}}
        {{em-select 
            label="Camera" 
            property="selectedCamera"
            content=videoSources 
            optionValuePath="content.id"
            optionLabelPath="content.label"
        }}
    {{/if}}
    <h2>Preview</h2>
    <video></video>
    <div class="row">
        <button class="btn btn-default neutral" {{action 'takePhoto'}}>Take photo</button>
    </div>

    <h2>Photo</h2>
    <canvas id="canvas"></canvas>
{{/if}}