<input type="text" class="form-control">
<span class="input-group-btn">
  <button class="btn btn-default warning" type="button">
    <span class="octicon octicon-x" {{action 'clearFilter'}}></span>
  </button>
</span>
