.signin-logo {
  margin: 40px auto;
  max-width: 200px;
}

.form-signin {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  margin: 0 auto;
  max-width: 300px;

  .alert { margin-bottom: 15px; }

  input { background: $white; }
}

.signin-contents {
  border-radius: 10px;
  background: $blue_light3;
  padding: 20px;
  width: 300px;
}

.form-signin-heading {
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $navy_drk2;
  font-size: 24px;
  font-weight: 300;
}

.form-signin-heading::first-letter { text-transform: uppercase; }
