{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    <div class="row">
      {{em-select label=(t 'incident.labels.add_reviewer') property="reviewerEmail" content=userList
        optionValuePath="email" optionLabelPath="displayName"
      }}
    </div>
  {{/em-form}}
{{/edit-panel}}
