// layout styles
// -------------------------------------------/

.view-top-bar { @include view_main_heading_layout; }

.view-current-title { @include view_main_heading; }

// panel styles

.panel-primary {
  position: relative;
  border: 0;
  background-color: $white;
  color: $navy_mid2;

  input,
  textarea,
  select { background: rgba($blue_light,.2); }
}

// ? unsure what below are for...

.detail-section-content {
  padding: 15px 0;

  .table { margin-top: -15px; }
}

.table-header {
  background-color: transparent;

  > th {
    border-top: 0;
    font-weight: 300;
  }
}
