// layout styles
// -------------------------------------------/

.panel-heading {
  h1 {
    @include view_main_heading;
    @include view_main_heading_layout;
  }
}

// ? unsure what below are for...

.detail-section-content {
    padding: 15px 0;

    .table { margin-top: -15px; }
}

.table-header {
    background-color: transparent;

    > th {
        border-top: none !important;
        font-weight: 300;
    }
}