$table-header-color: rgba($navy_drk2,.7);
$inactive-sort-indicator: rgba($navy_drk2,.3);

.table-header {
  background-color: $navy_light;
  color: $table-header-color;

  .sortable-column {
    cursor: pointer;

    .inactive {
      color: $inactive-sort-indicator;
    }
  }
}

.twitter-typeahead {
  width: 100%;

  .tt-query,
  .tt-hint { margin-bottom: 0; }
}

.tt-menu {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
  background-clip: padding-box;
  background-color: $white;
  padding: 5px 0;
  width: 100%;
  min-width: 160px;
  max-height: 110px;
  overflow-y: scroll;
  overflow-x: none;

  .query-results { margin-bottom: 0; }
}

.tt-suggestion {
  display: block;
  padding: 3px 12px;

  &.tt-is-under-cursor {
    background-color: #0081c2;
    background-image: linear-gradient(to bottom,#08c,#0077b3);
    background-repeat: repeat-x;
    color: $white;

    a { color: $white; }
  }

  p { margin: 0; }
}

//Scrollable typeahead
.scrollable-typeahead .tt-menu {
  max-height: 200px;
  overflow-y: auto;
}

.jumbotron {
  background-color: #2e4359;

  h1 {
    margin: 20px 0;
    text-align: center;
    word-spacing: 8px;
    letter-spacing: -3px;
    font-weight: 100;
  }
}

.container {
  label { font-weight: 300; }
}

.modal-dialog { color: $navy; }

.not-editable {
  opacity: .5;
  background-color: rgba($gray_light,.5);
  cursor: default;
}

// mark input fields as required
.required {
  .control-label::after {
    color: $red;
    content: '*';
  }
}

.input-group-addon {
  border: 0;
  background-color: $white;
}

//Loading icon from http://www.bootply.com/128062
.glyphicon-refresh-animate {
  -webkit-animation: spin2 .7s infinite linear;
  -animation: spin .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
