.jumbotron {
  background-color: #2e4359;

  h1 {
    margin: 20px 0;
    text-align: center;
    word-spacing: 8px;
    letter-spacing: -3px;
    font-weight: 100;
  }
}

.container {
  label { font-weight: 300; }
}
