.jumbotron {
  background-color: #2e4359;

  h1 {
    margin: 20px 0;
    text-align: center;
    word-spacing: 8px;
    letter-spacing: -3px;
    font-weight: 100;
  }
}

.container {
  label { font-weight: 300; }
}

.modal-dialog { color: $navy; }

.not-editable {
  opacity: .5;
  background-color: rgba($gray_light,.5);
  cursor: default;
}

//Loading icon from http://www.bootply.com/128062
.glyphicon-refresh-animate {
  -webkit-animation: spin2 .7s infinite linear;
  -animation: spin .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
