.panel-heading {

  .view-sub-bar { padding: 0 15px; }

  .view-sub-nav { margin: 0; }

  .view-action-buttons { float: right;

    .btn {
      margin: 12px 0 10px 15px;
      font-size: 16px;
    }

  }

  .nav-pills {
    margin: 0;

    li {
      margin-left: 40px;
      line-height: 58px;
      font-size: 18px;

      &:first-of-type { margin-left: 0; }

      &.active > a {
        background-color: transparent;
        color: $navy_mid2;
        font-weight: 600;
      }
    }

    a {
      padding: 0;
      color: $view_sub_nav;

      &:hover {
        // needs resolved
        // scss-lint:disable ImportantRule
        background-color: transparent !important;
        // scss-lint:enable ImportantRule
        color: $navy_mid2;
      }
    }
  }
}

.panel-title { font-size: 24px; }

.table-header {
  background-color: $navy_light;
  color: rgba($navy_drk2,.7);
}

.twitter-typeahead { width: 100%;

  .tt-query,
  .tt-hint { margin-bottom: 0; }
}

.tt-menu {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
  background-color: $white;
  padding: 5px 0;
  width: 100%;
  min-width: 160px;
  background-clip: padding-box;

  .query-results { margin-bottom: 0; }
}

.tt-suggestion {
  display: block;
  padding: 3px 12px;

  &.tt-is-under-cursor {
    background-color: #0081c2;
    background-image: linear-gradient(to bottom,#08c,#0077b3);
    background-repeat: repeat-x;
    color: $white;

    a { color: $white; }
  }

  p { margin: 0; }
}

//Scrollable typeahead
.scrollable-typeahead .tt-menu {
  max-height: 200px;
  overflow-y: auto;
}

.jumbotron { background-color: #2e4359;

  h1 {
    margin: 20px 0;
    text-align: center;
    word-spacing: 8px;
    letter-spacing: -3px;
    font-weight: 100;
  }
}

.container {
  label { font-weight: 300; }
}

.panel-primary {
  border: 0;
  background-color: $white;
  color: $navy_mid2;

  input,
  textarea,
  select { background: rgba($blue_light,.2); }
}

.modal-dialog { color: $navy; }

.not-editable {
  opacity: .5;
  background-color: rgba($gray_light,.5);
  cursor: default;
}

// mark input fields as required
.required {
  .control-label::after {
    color: $red;
    content: '*';
  }
}

.input-group-addon {
  border: 0;
  background-color: $white;
}

//Loading icon from http://www.bootply.com/128062
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@media print {
  body { font-size: 10px; }

  .ember-application { padding-left: 0; }

  .panel-footer { display: none; }
}
