@font-face {
  font-family: 'lato-webfont';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/lato-regular-webfont.eot');
  src:
   url('/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
   url('/fonts/lato-regular-webfont.woff') format('woff'),
   url('/fonts/lato-regular-webfont.ttf') format('truetype'),
   url('/fonts/lato-regular-webfont.svg#latoregular') format('svg');
}

@font-face {
  font-family: 'lato-webfont';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/lato-light-webfont.eot');
  src:
    url('/fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/lato-light-webfont.woff') format('woff'),
    url('/fonts/lato-light-webfont.ttf') format('truetype'),
    url('/fonts/lato-light-webfont.svg#latolight') format('svg');
}

@font-face {
  font-family: 'lato-webfont';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/lato-hairline-webfont.eot');
  src:
    url('/fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/lato-hairline-webfont.woff') format('woff'),
    url('/fonts/lato-hairline-webfont.ttf') format('truetype'),
    url('/fonts/lato-hairline-webfont.svg#latohairline') format('svg');
}

@font-face {
  font-family: 'lato-webfont';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/lato-bold-webfont.eot');
  src:
    url('/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/lato-bold-webfont.woff') format('woff'),
    url('/fonts/lato-bold-webfont.ttf') format('truetype'),
    url('/fonts/lato-bold-webfont.svg#latobold') format('svg');
}

@font-face {
  font-family: 'lato-webfont';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/lato-black-webfont.eot');
  src:
    url('/fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/lato-black-webfont.woff') format('woff'),
    url('/fonts/lato-black-webfont.ttf') format('truetype'),
    url('/fonts/lato-black-webfont.svg#latoblack') format('svg');
}
