// Variables
// -------------------------------------------/

$green:                 #00bd9c;
$green_light:           #13d8b6;
$navy:                  #2e4359;
$navy_mid:              #546a83;
$navy_mid2:             #3A4D63;
$navy_drk:              #253649;
$navy_drk2:             #263648;
$navy_text:             #97afc8;
$blue_light:            #dbebff;
$blue_light2:           #e9f3ff;
$red:                   #ff6d6f;
$red_light:             rgba($red,.3);
$gray_light:            #d9d9d9;
$gray:                  rgba($navy,.65);


// end variables ------------/


// Mixins
// -------------------------------------------/

@mixin vertically_centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

@mixin transition($value) {
  transition: $value .2s ease;
}
// end mixins ------------/