// Variables
// -------------------------------------------/

$green:                 #00bd9c;
$green_light:           #13d8b6;
$navy:                  #2e4359;
$navy_mid:              #546a83;
$navy_mid2:             #2F4358;
$navy_mid3:             #3A4D63;
$navy_drk:              #253649;
$navy_drk2:             #263648;
$navy_drkest:           #1E2C3A;
$navy_text:             #97afc8;
$blue_light:            #dbebff;
$blue_light2:           #e9f3ff;
$blue_light3:           #dde5ee;
$blue_lightest:         #eff2f5;
$blue_lightest2:        #dee2e7;
$red:                   #ff6d6f;
$red_light:             rgba($red,.3);
$gray_light:            #d9d9d9;
$gray:                  rgba($navy,.65);
$sidebar_icon:          #92a7bc;
$sidebar_icon_lighter:  #d2dae3;
$sidebar_sublink_text:  #c2d2e3;


// end variables ------------/


// Mixins
// -------------------------------------------/

@mixin vertically_centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

@mixin transition($value) {
  transition: $value .2s ease;
}

// typography

@mixin view_main_heading {
  color: $navy_mid2;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 28px;
}

// layout

@mixin view_main_heading_layout {
  margin: 0;
  height: 55px;
  line-height: 55px;
  background: white;
  border-bottom: 1px solid $sidebar_icon_lighter;
  padding: 0 15px;
}


// end mixins ------------/