// Variables
// -------------------------------------------/

$white:                 #fff;
$black:                 #000;
$green:                 #00bd9c;
$green_light:           #13d8b6;
$navy:                  #2e4359;
$navy_mid:              #546a83;
$navy_mid2:             #2f4358;
$navy_mid3:             #3a4d63;
$navy_drk:              #253649;
$navy_drk2:             #263648;
$navy_drkest:           #1e2c3a;
$navy_light:            #d2dae3;
$navy_text:             #97afc8;
$blue_light:            #dbebff;
$blue_light2:           #e9f3ff;
$blue_light3:           #dde5ee;
$blue_lightest:         #eff2f5;
$blue_lightest2:        #dee2e7;
$red:                   #ff6d6f;
$red_light:             rgba($red,.3);
$red_dark:              #c3124e;
$gray_light:            #d9d9d9;
$gray:                  rgba($navy,.65);
$alert_yellow:          #ffffe4;
$alert_yellow_drk:      rgba(#53534b,.7);
$sidebar_icon:          #92a7bc;
$sidebar_icon_lighter:  $navy_light;
$sidebar_sublink_text:  #c2d2e3;
$view_sub_nav:          #6784a2;
$content_border:        $blue_lightest;


// end variables ------------/


// Mixins
// -------------------------------------------/

@mixin vertically_centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin transition($value) {
  transition: $value .2s ease;
}

// typography

@mixin view_main_heading {
  float: left;
  margin: 0;
  line-height: 55px;
  letter-spacing: -1px;
  color: $navy_mid2;
  font-size: 28px;
  font-weight: 600;
}

// layout

@mixin view_main_heading_layout {
  margin: 0;
  border-bottom: 1px solid $sidebar_icon_lighter;
  background: $white;
  padding: 0 15px;
  height: 55px;
}

// animation and transitions

@mixin transition_all {
  transition: all 200ms ease;
}

@mixin transition_opacity {
  transition: opacity 200ms ease;
}

// end mixins ------------/
