// Base styles
@import 'variables_mixins';
@import 'bootstrap';
@import 'bootstrap-theme';
@import 'typography';
@import 'base';
@import 'layout';
@import 'print';

// Basscss 8.0.2 (http://basscss.com/)
// added manually for customization value
@import 'basscss/align';
@import 'basscss/border';
@import 'basscss/flexbox';
@import 'basscss/grid/index';
@import 'basscss/hide';
@import 'basscss/layout';
@import 'basscss/margin';
@import 'basscss/padding';
@import 'basscss/position';
@import 'basscss/type-scale';
@import 'basscss/typography';

// Components
@import 'components/buttons';
@import 'components/form_styles';
@import 'components/imaging';
@import 'components/labs';
@import 'components/loading_notice';
@import 'components/pagination';
@import 'components/panel';
@import 'components/patient_history';
@import 'components/patient_summary';
@import 'components/sidebar_nav';
@import 'components/tab_content';
@import 'components/tab_nav';
@import 'components/tables';
@import 'components/typeahead';

// Styles for specific views
@import 'views/sign_in_screen';

// NOTE: do not place styles in this file
// If you have styles to add, put them in
// the appropriate imported stylesheet, or
// create a new one; or if you're not sure
// where it should go, just drop it in
// _temp_misc.scss for now
