# See http://help.github.com/ignore-files/ for more about ignoring files.
/.idea

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
.DS_Store
Thumbs.db
npm-debug.log
testem.log
/nbproject/private/
nbproject/project.properties

nbproject/project.xml

*.sublime-workspace
server/config.js
.brackets.json
/app/nbproject/private/
newrelic_agent.log

newrelic.js

/async-disk-cache
c9-couch.js