{{#modal-dialog
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText}}
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-warning-sign"></span> {{t 'messages.delete_singular' name=(t 'models.incident.names.singular')}}
  </div>
{{/modal-dialog}}
