<div class="panel panel-primary">
    <div class="panel-heading">Inventory Listing</div>
    {{partial "inventory-listing"}}
</div>
<button class="btn btn-primary" {{action 'newInventory'}}>New Item</button>