{{#modal-dialog
isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
{{#em-form model=model submit_button=false }}
    <div class="row">
        {{date-picker property="dateRecorded" label="Date Recorded" class="col-sm-6" format="l h:mm A" showTime=true }}
    </div>
    <div class="row">        
        {{em-text property="description" label="Feedback" }}
    </div>
{{/em-form}}
{{/modal-dialog}}