.btn {
  &.on-white {
    background-color: #00c4a2;
    color: $white;
  }

  &.warning {
    background-color: #ff6d6f;
    color: $white;

    &:hover,
    &:focus {
      background-color: $red_lighter;
      color: $brown;
    }
  }

  &.neutral {
    background-color: $navy_dark;
    color: $white;

    &:hover,
    &:focus {
      background-color: $navy_darker;
      color: $white;
    }
  }

  &.btn-extra {
    background-color: $blue_dark;
    color: $white;

    &:hover,
    &:focus {
      background-color: $blue_darker;
      color: $white;
    }
  }

  &.admit {
    width: 103px;
  }

  .octicon {
    position: relative;
    left: -3px;
  }

  &.align-right { float: right; }
  &.align-left { float: left; }
}

.btn-default {
  border: 0;
  border-radius: 3px;
  background-color: $green;

  &:hover,
  &:focus { background-color: $green_light; }
}

.btn-primary {
  background-color: $green;

  // needs converted to variable
  &:hover,
  &:focus { background-color: #08987f; }

  // needs converted to variable
  &:active,
  &.active { background-color: #00cca8; }

  &.disabled-btn,
  &.disabled:hover,
  &[disabled]:hover,
  &.disabled:focus,
  &[disabled]:focus,
  &.disabled:active,
  &[disabled]:active {
    opacity: .7;
    background-color: #dbebff;
    color: $black;
  }
}

.btn-success {
  border-color: #3e8f3e;
  background-image: linear-gradient(to bottom,#5cb85c 0%,#419641 100%);
  background-repeat: repeat-x;

  &:hover,
  &:focus {
    background-color: #419641;
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    border-color: #3e8f3e;
    background-color: #419641;
  }
}

.btn-info {
  border-color: #28a4c9;
  background-image: linear-gradient(to bottom,#5bc0de 0%,#2aabd2 100%);
  background-repeat: repeat-x;

  &:hover,
  &:focus {
    background-color: #2aabd2;
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    border-color: #28a4c9;
    background-color: #2aabd2;
  }
}

.btn-warning {
  border-color: #e38d13;
  background-image: linear-gradient(to bottom,#f0ad4e 0%,#eb9316 100%);
  background-repeat: repeat-x;

  &:hover,
  &:focus {
    background-color: #eb9316;
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    border-color: #e38d13;
    background-color: #eb9316;
  }
}

.btn-danger {
  border-color: #b92c28;
  background-image: linear-gradient(to bottom,#d9534f 0%,#c12e2a 100%);
  background-repeat: repeat-x;

  &:hover,
  &:focus {
    background-color: #c12e2a;
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    border-color: #b92c28;
    background-color: #c12e2a;
  }
}

// Loading icon from http://www.bootply.com/128062
.glyphicon-refresh-animate {
  -webkit-animation: spin2 .7s infinite linear;
  animation: spin .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
