// global styles for forms

.form-input-group {
  display: block;
  margin-bottom: 15px;

  select { height: 44px; }
}

.text-expansion-div {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-color: #ffffe0;
  padding-right: 5px;
  padding-left: 5px;
}
