// global styles for forms

.form-input-group {
  display: block;
  margin-bottom: 15px;

  select { height: 44px; }
}

.checkbox-label-space {
  top: 25px;
}

// mark input fields as required
.required {
  .control-label::after {
    color: $red;
    content: '*';
  }
}

.input-group-addon {
  border: 0;
  background-color: $white;
}
