// global styles for forms

.form-input-group {
  display: block;
  margin-bottom: 15px;

  select { height: 44px; }
}

.checkbox-label-space {
  top: 25px;
}

// mark input fields as required
.required {
  .control-label::after {
    color: $red;
    content: '*';
  }
}

.input-group-addon {
  border: 0;
  background-color: $white;
}

.radio input[type='radio'],
.radio-inline input[type='radio'],
.checkbox input[type='checkbox'],
.checkbox-inline input[type='checkbox'] { margin-left: -18px; }

.form-control {
  border: 1px solid $blue_lightest2;
}

// I *think* this belongs here (extracting from
// temp_styles), but not actually sure if we
// even use this anymore
.container {
  label { font-weight: 300; }
}

.text-expansion-container {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-color: #ffffe0;
  padding-right: 5px;
  padding-left: 5px;
}
