// styles for tab content panel tab nav-pills
// mostly over writing bootstrap styles
.nav-pills {
  margin: 0;

  li {
    margin-left: 40px;
    line-height: 58px;
    font-size: 18px;

    &:first-of-type { margin-left: 0; }

    &.active > a {
      background-color: transparent;
      color: $navy_mid2;
      font-weight: 600;
    }
  }

  a {
    padding: 0;
    color: $view_sub_nav;

    &:hover,
    &:focus {
      background-color: transparent;
      text-decoration: none;
      color: $navy_mid2;
    }
  }

  &.tab-nav {
    border-bottom: 2px solid $content_border;

    li {
      margin-left: 0;
      line-height: 26px;
      font-size: 16px;

      &.active a,
      &:hover a,
      &:focus a {
        margin-bottom: -2px;
        border-bottom: 2px solid $view_sub_nav;
      }
    }
  }
}
