.twitter-typeahead {
  width: 100%;

  .tt-query,
  .tt-hint { margin-bottom: 0; }
}

.tt-menu {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
  background-clip: padding-box;
  background-color: $white;
  padding: 5px 0;
  width: 100%;
  min-width: 160px;
  max-height: 110px;
  overflow-y: scroll;
  overflow-x: none;

  .query-results { margin-bottom: 0; }
}

.tt-suggestion {
  display: block;
  padding: 3px 12px;

  &.tt-is-under-cursor {
    background-color: #0081c2;
    background-image: linear-gradient(to bottom,#08c,#0077b3);
    background-repeat: repeat-x;
    color: $white;

    a { color: $white; }
  }

  p { margin: 0; }
}

//Scrollable typeahead
.scrollable-typeahead .tt-menu {
  max-height: 200px;
  overflow-y: auto;
}
