{{#if userCan_patients}}
<div class="primary-nav-item">

  <div class="category-title">
    <a href="#" class="primary-section-link nav-link" {{action 'toggleContent' 'patients'}}>
      <span class="mega-octicon octicon-organization"></span>
        Patients
    </a>
  </div>

  {{#if isShowingContent}}
  <div class="category-sub-items">
    {{#link-to 'patients' class="category-sub-item nav-link" }}
    <span class="octicon octicon-chevron-right"></span>Patient listing
    {{/link-to}}
    {{#if userCan_add_patient}}
        {{#link-to 'patients.edit' 'new' class="category-sub-item nav-link"}}
        <span class="octicon octicon-plus"></span>New patient
        {{/link-to}}
    {{/if}}
    {{#link-to 'patients.reports' class="category-sub-item nav-link"}}
    <span class="octicon octicon-chevron-right"></span>Reports
    {{/link-to}}
  </div>
  {{/if}}

</div>
{{/if}}