{{#if userCan_labs}}
<div class="primary-nav-item">

  <div class="category-title">
    <a href="#" class="primary-section-link nav-link" {{action 'toggleContent' 'labs.index'}}>
      <span class="mega-octicon octicon-microscope"></span>Labs
    </a>
  </div>

  {{#if isShowingContent}}
  <div class="category-sub-items">
    {{#link-to 'labs.index' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Requests
    {{/link-to}}
    {{#link-to 'labs.completed' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Completed
    {{/link-to}}
    {{#if userCan_add_lab}}
        {{#link-to 'labs.edit' 'new' class="category-sub-item nav-link"}}
            <span class="octicon octicon-plus"></span>New lab
        {{/link-to}}
    {{/if}}
  </div>
  {{/if}}

</div>
{{/if}}