{{#if userCan_imaging}}
<div class="primary-nav-item">

  <div class="category-title">
    <a href="#" class="primary-section-link nav-link" {{action 'toggleContent' 'imaging.index'}}>
      <span class="mega-octicon octicon-device-camera"></span>Imaging
    </a>
  </div>

  {{#if isShowingContent}}
  <div class="category-sub-items">
    {{#link-to 'imaging.index' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Requests
    {{/link-to}}
    {{#link-to 'imaging.completed' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Completed
    {{/link-to}}
    {{#if userCan_add_imaging}}
        {{#link-to 'imaging.edit' 'new' class="category-sub-item nav-link"}}
            <span class="octicon octicon-plus"></span>New imaging
        {{/link-to}}
    {{/if}}
  </div>
  {{/if}}

</div>
{{/if}}