{{#if userCan_inventory}}
<div class="sidebar-nav-section primary-nav-item">

  <div class="category-title">
    <h2>
      {{#link-to 'inventory' class="primary-section-link" }}
          <span class="mega-octicon octicon-package"></span>
          Inventory
      {{/link-to}}
    </h2>
  </div>

  <div class="category-sub-items">
    {{#if userCan_add_inventory_request}}
        {{#link-to 'inventory.index' class="sub-section-link"}}
            Requests
            <span class="octicon octicon-chevron-right"></span>
        {{/link-to}}
    {{/if}}
    {{#if userCan_inventory}}
        {{#link-to 'inventory.listing' class="sub-section-link"}}
            Items
            <span class="octicon octicon-chevron-right"></span>
        {{/link-to}}
        {{#if userCan_add_inventory_item}}
            {{#link-to 'inventory.batch' 'new' class="sub-section-link"}}
                Inventory Received
                <span class="octicon octicon-plus"></span>
            {{/link-to}}
        {{/if}}
        {{#link-to 'inventory.reports' class="sub-section-link"}}
            Reports
            <span class="octicon octicon-chevron-right"></span>
        {{/link-to}}
    {{/if}}
  </div>

</div>
{{/if}}