{{#if userCan_medication}}
<div class="primary-nav-item">

  <div class="category-title">
    <a href="#" class="primary-section-link nav-link" {{action 'toggleContent' 'medication.index'}}>
        <span class="mega-octicon octicon-file-text"></span>Medication
    </a>
  </div>

  {{#if isShowingContent}}
  <div class="category-sub-items">
    {{#link-to 'medication.index' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Requests
    {{/link-to}}
    {{#link-to 'medication.completed' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Completed
    {{/link-to}}
    {{#if userCan_add_medication}}
        {{#link-to 'medication.edit' 'new' class="category-sub-item nav-link"}}
            <span class="octicon octicon-plus"></span>New request
        {{/link-to}}
        {{#link-to 'medication.return' 'new' class="category-sub-item nav-link"}}
            <span class="octicon octicon-mail-reply"></span>Return medication
        {{/link-to}}
    {{/if}}
  </div>
  {{/if}}

</div>
{{/if}}