{{#if userCan_inventory}}
<div class="primary-nav-item">

  <div class="category-title">
    <a href="#" class="primary-section-link nav-link" {{action 'toggleContent' 'inventory'}}>
        <span class="mega-octicon octicon-package"></span>Inventory
    </a>
  </div>

  {{#if isShowingContent}}
  <div class="category-sub-items">
    {{#if userCan_add_inventory_request}}
        {{#link-to 'inventory.index' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Requests
        {{/link-to}}
    {{/if}}
    {{#if userCan_inventory}}
        {{#link-to 'inventory.listing' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Items
        {{/link-to}}
        {{#if userCan_add_inventory_item}}
            {{#link-to 'inventory.batch' 'new' class="category-sub-item nav-link"}}
            <span class="octicon octicon-plus"></span>Inventory Received
            {{/link-to}}
        {{/if}}
        {{#link-to 'inventory.reports' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Reports
        {{/link-to}}
    {{/if}}
  </div>
  {{/if}}

</div>
{{/if}}