{{#if userCan_appointments}}
<div class="primary-nav-item">

  <div class="category-title">
    <a href="#" class="primary-section-link nav-link" {{action 'toggleContent' 'appointments.index'}}>
      <span class="mega-octicon octicon-calendar"></span>Appointments
    </a>
  </div>

  {{#if isShowingContent}}
  <div class="category-sub-items">
    {{#link-to 'appointments.index' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>This week
    {{/link-to}}
    {{#link-to 'appointments.today' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Today
    {{/link-to}}
    {{#link-to 'appointments.search' class="category-sub-item nav-link"}}
        <span class="octicon octicon-chevron-right"></span>Search
    {{/link-to}}
    {{#if userCan_add_appointment}}
        {{#link-to 'appointments.edit' 'new' class="category-sub-item nav-link"}}
            <span class="octicon octicon-plus"></span>New appointment
        {{/link-to}}
    {{/if}}
  </div>
  {{/if}}

</div>
{{/if}}