<div class="primary-nav">

  {{partial "sidebar_nav/nav_inventory"}}

  {{partial "sidebar_nav/nav_patients"}}

  {{partial "sidebar_nav/nav_appointments"}}

  {{partial "sidebar_nav/nav_labs"}}

</div>