{{#if allowSearch}}
  <div class="sidebar-nav-search sidebar-nav-section" role="search">
    <div class="form-group">
      {{text-search value=searchText placeholder=(t 'labels.search') class="form-control"}}
    </div>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
  </div>
{{/if}}
