<div class="panel panel-primary">
    <div class="panel-heading">Search Results</div>
    {{partial "inventory-listing"}}
</div>
{{#if model}}
    <button class="btn btn-primary" {{action 'newInventory'}}>New Item</button>
{{/if}}