{{#modal-dialog
    hideCancelButton=hideCancelButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  {{#em-form model=model submitButton=false }}
    {{pricing-typeahead property="itemName" label="Item" content=pricingList selection=selectedItem class="required"}}
    <div class="row">
      {{em-input label="Quantity" property="quantity" class="col-xs-3 required"}}
      {{date-picker property="dateCharged" label="Date Charged" class="col-xs-4 required"}}
    </div>
  {{/em-form}}
{{/modal-dialog}}
