{{#modal-dialog
    hideCancelButton=hideCancelButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  {{#em-form model=model submitButton=false }}
    {{pricing-typeahead property="itemName" label=(t 'inventory.labels.item') content=pricingList selection=selectedItem class="required charge-item-name"}}
    <div class="row">
      {{number-input label=(t 'labels.quantity') property="quantity" class="col-xs-3 required"}}
      {{date-picker property="dateCharged" label="Date Charged" class="col-xs-4 required"}}
    </div>
  {{/em-form}}
{{/modal-dialog}}
