<div class="row">
  {{em-input label=(t "visits.labels.chiefComplaint") property="chiefComplaint" class="col-sm-12"}}
</div>
{{em-text label=(t "visits.labels.illnessHistory") property="historySince" rows=3 }}
{{em-text label=(t "visits.labels.patientHistory") property="history" rows=3 }}
