<div class="alert alert-warning" role="alert">The inventory item <strong>{{name}}</strong> could not be found.  If you would like to create a new inventory item, fill in the information below.  Otherwise press the Cancel button to return.</div>
{{#em-form model=this submit_button=false }}
    {{partial 'inventory-basic'}}
{{/em-form}}