{{#modal-dialog
    isUpdateDisabled=isUpdateDisabled
    title=(t 'inventory.titles.quickAddTitle')
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  <div class="alert alert-warning" role="alert">{{t 'inventory.messages.itemNotFound' item=model.name}}</div>
  {{#em-form model=model submitButton=false }}
    {{partial 'inventory-basic'}}
  {{/em-form}}
{{/modal-dialog}}
