{{#modal-dialog
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  {{#em-form model=model submitButton=false }}{{/em-form}}
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-warning-sign"></span>
      Are you sure you wish to delete <b>{{model.displayInvoiceNumber}}</b>?
    </div>
{{/modal-dialog}}
