{{#modal-dialog
    hideCancelButton=hideCancelButton
    hideUpdateButton=hideUpdateButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  {{#em-form model=this submitButton=false }}{{/em-form}}
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-warning-sign"></span>
      Are you sure you wish to delete <b>{{displayInvoiceNumber}}</b>?
    </div>
{{/modal-dialog}}
