<div class="panel panel-primary">
    <div class="panel-heading">Patient Listing</div>
    {{partial "patients/patient-listing"}}
</div>
<button class="btn btn-primary" {{action 'newPatient'}}>New Patient</button>