{{#modal-dialog isUpdateDisabled=isUpdateDisabled title=title updateButtonAction=updateButtonAction updateButtonText=updateButtonText}}
  {{#em-form model=model submitButton=false}}
    <div class="row">
      {{date-picker property="dateRecorded" label=(t 'incident.labels.dateRecorded') class="col-sm-6" format="l h:mm A" showTime=true }}
    </div>
    <div class="row">
      {{expand-text property="description" label=(t 'incident.labels.note') class="col-sm-12 note-description"}}
    </div>
  {{/em-form}}
{{/modal-dialog}}
