<div class="panel panel-primary">
    <div class="panel-heading">Medication Requests</div>
    {{partial "medication-requests"}}
</div>
<button class="btn btn-primary" {{action 'newMedication'}}>New Request</button>

