{{#modal-dialog
isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
{{#em-form model=model submitButton=false }}
    <div class="row">
        {{em-text property="incidentCategoryName" label="Category Name" }}
    </div>
{{/em-form}}
{{/modal-dialog}}