{{#item-listing paginationProps=paginationProps }}
  <table class="table">
    <tr class="table-header">
      <th>Date</th>
      <th>{{t 'labels.name'}}</th>
      <th>Type</th>
      <th>Location</th>
      <th>Provider</th>
      <th>Status</th>
      <th>{{t 'labels.actions'}}</th>
    </tr>
    {{#each model as |appointment|}}
      {{partial 'appointments/item'}}
    {{/each}}
  </table>
{{/item-listing}}
