<table class="table">
    <tr class="table-header">
        <th>Date</th>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        <th>Provider</th>
        <th>Actions</th>
    </tr>
    {{#each itemController='appointments/item'}}
        {{partial 'appointments/item'}}
    {{/each}}
</table>