{{#modal-dialog
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
    {{t 'inventory.messages.delete' name=model.name}}
  </div>
{{/modal-dialog}}
