{{#modal-dialog
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-warning-sign"></span>
    {{t 'appointments.messages.delete_appointment_message'}}
  </div>
{{/modal-dialog}}
