.offline-indicator {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 50px;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 9999;
}

.offline {
  background-color: rgba(255, 0, 0, 0.65);
}

.online {
  background-color: rgba(0, 255, 0, 0.55);
}
