{{#modal-dialog
  title=title
  updateButtonText=updateButtonText
  hideCancelButton=true
  updateButtonAction=updateButtonAction
  additionalButtons=additionalButtons
}}
  <div class="row">
    <div class="col-xs-12 form-group">
      <label>{{t "allergies.labels.allergyName"}}</label>
      {{#unless model.isNew}}
        {{input class="form-control" value=model.name}}
      {{else}}
        {{input class="form-control" value=name}}
      {{/unless}}
    </div>
  </div>
{{/modal-dialog}}