<div class='ember-calendar-event-name' {{action 'editItem' view.event.appointment}}>
    {{view.nameString}} <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-edit"></span>       
    </button>
</div>
<div class='ember-calendar-event-time'>
    {{view.timeString}}
</div>