<section class="view error">

  <div class="view-top-bar">
    <h1 class="view-current-title">{{t 'messages.sorry'}}</h1>
  </div>

  <div class="alert alert-info">
    {{message}}
    <pre>
      {{stack}}
    </pre>
  </div>

</section>
