{{#if session.isAuthenticated}}
    <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
    {{#link-to 'login'}}Login{{/link-to}}
{{/if}}
<br>
{{#link-to 'users'}}Users{{/link-to}}
<br/>
{{#link-to 'inventory'}}Inventory{{/link-to}}
