<section class="view index">

    <h1 class="view-title">What would you like to do?</h1>

    <div class="splash-nav">

        {{#if userCan_imaging}}
            <div class="nav-category">
                <header class="category-header">
                    <h2 class="primary-section">
                        {{#link-to 'imaging.index' class="primary-section-link"}}
                            <span class="mega-octicon octicon-device-camera"></span>
                            Imaging
                        {{/link-to}}
                    </h2>
                    <div class="panel-options">
                        <a href="#" class="hidden-link-list-trigger">
                            <span class="mega-octicon octicon-gear"></span>
                        </a>
                        <nav class="hidden-link-list">
                            <h4>More options</h4>
                            <a href="#" class="setting-link">Pin to Nav</a>
                            <a href="#" class="setting-link">Set as default view</a>
                        </nav>
                    </div>
                </header>
                <nav class="category-links">
                    {{#link-to 'imaging.index' class="sub-section-link"}}
                        Requests
                        <span class="octicon octicon-chevron-right"></span>
                    {{/link-to}}
                    {{#link-to 'imaging.completed' class="sub-section-link"}}
                        Completed
                        <span class="octicon octicon-chevron-right"></span>
                    {{/link-to}}
                    {{#if userCan_add_imaging}}
                        {{#link-to 'imaging.edit' 'new' class="sub-section-link"}}
                            New imaging
                            <span class="octicon octicon-plus"></span>
                        {{/link-to}}
                    {{/if}}
                </nav>
            </div>
        {{/if}}
        {{#if userCan_medication}}
            <div class="nav-category">
                <header class="category-header">
                    <h2 class="primary-section">
                        {{#link-to 'medication.index' class="primary-section-link"}}
                            <span class="mega-octicon octicon-file-text"></span>
                            Medication
                        {{/link-to}}
                    </h2>
                    <div class="panel-options">
                        <a href="#" class="hidden-link-list-trigger">
                            <span class="mega-octicon octicon-gear"></span>
                        </a>
                        <nav class="hidden-link-list">
                            <h4>More options</h4>
                            <a href="#" class="setting-link">Pin to Nav</a>
                            <a href="#" class="setting-link">Set as default view</a>
                        </nav>
                    </div>
                </header>
                <nav class="category-links">
                    {{#link-to 'medication.index' class="sub-section-link"}}
                        Requests
                        <span class="octicon octicon-chevron-right"></span>
                    {{/link-to}}
                    {{#link-to 'medication.completed' class="sub-section-link"}}
                        Completed
                        <span class="octicon octicon-chevron-right"></span>
                    {{/link-to}}
                    {{#if userCan_add_medication}}
                        {{#link-to 'medication.edit' 'new' class="sub-section-link"}}
                            New request
                            <span class="octicon octicon-plus"></span>
                        {{/link-to}}
                        {{#link-to 'medication.return' 'new' class="sub-section-link"}}
                            Return medication
                            <span class="octicon octicon-mail-reply"></span>
                        {{/link-to}}
                    {{/if}}
                </nav>
            </div>
        {{/if}}
        {{#if userCan_admin}}
            <div class="nav-category">
                <header class="category-header">
                    <h2 class="primary-section">
                        {{#link-to 'admin.lookup' class="primary-section-link"}}
                            <span class="mega-octicon octicon-person"></span>
                            Admin
                        {{/link-to}}
                    </h2>
                    <div class="panel-options">
                        <a href="#" class="hidden-link-list-trigger">
                            <span class="mega-octicon octicon-gear"></span>
                        </a>
                        <nav class="hidden-link-list">
                            <h4>More options</h4>
                            <a href="#" class="setting-link">Pin to Nav</a>
                            <a href="#" class="setting-link">Set as default view</a>
                        </nav>
                    </div>
                </header>
                <nav class="category-links">
                    {{#if userCan_update_config}}
                        {{#link-to 'admin.address' class="sub-section-link"}}
                            Address Options
                            <span class="octicon octicon-chevron-right"></span>
                        {{/link-to}}

                        {{#link-to 'admin.lookup' class="sub-section-link"}}
                            Lookup Lists
                            <span class="octicon octicon-chevron-right"></span>
                        {{/link-to}}
                    {{/if}}
                    {{#if userCan_users}}
                        {{#link-to 'users.index' class="sub-section-link"}}
                            User listing
                            <span class="octicon octicon-chevron-right"></span>
                        {{/link-to}}
                        {{#if userCan_add_user}}
                            {{#link-to 'users.edit' 'new' class="sub-section-link"}}
                                New user
                                <span class="octicon octicon-plus"></span>
                            {{/link-to}}
                        {{/if}}
                    {{/if}}
                </nav>
            </div>
        {{/if}}
        {{#if userCan_billing}}
            <div class="nav-category">
                <header class="category-header">
                    <h2 class="primary-section">
                        {{#link-to 'invoices.index' class="primary-section-link"}}
                            <span class="mega-octicon octicon-person"></span>
                            Billing
                        {{/link-to}}
                    </h2>
                    <div class="panel-options">
                        <a href="#" class="hidden-link-list-trigger">
                            <span class="mega-octicon octicon-gear"></span>
                        </a>
                        <nav class="hidden-link-list">
                            <h4>More options</h4>
                            <a href="#" class="setting-link">Pin to Nav</a>
                            <a href="#" class="setting-link">Set as default view</a>
                        </nav>
                    </div>
                </header>
                <nav class="category-links">
                    {{#link-to 'invoices.index' class="sub-section-link"}}
                        Invoices
                        <span class="octicon octicon-chevron-right"></span>
                    {{/link-to}}
                    {{#link-to 'invoices.edit' 'new' class="sub-section-link"}}
                        New Invoice
                        <span class="octicon octicon-plus"></span>
                    {{/link-to}}
                    {{#link-to 'pricing.index' class="sub-section-link"}}
                        Price List
                        <span class="octicon octicon-chevron-right"></span>
                    {{/link-to}}
                    {{#link-to 'pricing.profiles' class="sub-section-link"}}
                        Pricing Profiles
                        <span class="octicon octicon-chevron-right"></span>
                    {{/link-to}}
                </nav>
            </div>
        {{/if}}
    </div>
</section>