<div class="jumbotron">
    <h1>Welcome to HospitalRun</h1>
    <p>...</p>  
    <p>{{#link-to 'users' class="btn btn-primary"}}Users{{/link-to}}</p>
    <p>{{#link-to 'inventory' class="btn btn-primary" }}Inventory{{/link-to}}</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>