
<div class="jumbotron">
    <div class="alert alert-warning" role="alert">
        <h1><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Please wait... Loading... </h1>
    </div>
</div>