<div class="container">
    <form class="form-signin" role="form" {{action authenticate on='submit'}}>
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group">
            {{view Ember.TextField id='identification' valueBinding='identification' placeholder='Username' class="form-control"}}
        </div>
        <div class="form-group">
            {{view Ember.TextField id='password' type='password' valueBinding='password' placeholder='Password' class="form-control"}}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div> <!-- /container -->