<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">hospital<span>run</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{#if allowSearch}}
                
                <div class="navbar-form navbar-left" role="search">                    
                    <div class="form-group">
                        {{text-search valueBinding="searchText" autofocus="true" placeholder="Search" class="form-control"}}                        
                    </div>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            {{/if}}
            <ul class="nav navbar-nav navbar-right">
                <li>{{#link-to 'users'}}Users{{/link-to}}</li>
                <li>{{#link-to 'inventory'}}Inventory{{/link-to}}</li>
                <li>{{#link-to 'medication'}}Medication{{/link-to}}</li>
                <li>{{#link-to 'patients'}}Patients{{/link-to}}</li>
                {{#if session.isAuthenticated}}
                    <li><a {{ action 'invalidateSession' }}>Logout</a></li>
                {{else}}
                    <li>{{#link-to 'login'}}Login{{/link-to}}</li>
                {{/if}}                
            </ul>            
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
