<nav class="view sidebar-nav" role="navigation">

    {{partial "sidebar_nav/header"}}

    {{partial "sidebar_nav/search"}}

    {{partial "sidebar_nav/primary_nav"}}

    <p class="sync-status">{{syncStatus}}</p>

</nav>
