<nav class="view sidebar-nav hidden-print" role="navigation">
  {{partial "sidebar_nav/header"}}
  <div class="scroll-container">
    {{partial "sidebar_nav/search"}}
    {{partial "sidebar_nav/primary_nav"}}
    {{partial "sidebar_nav/message"}}
  </div>
</nav>
