<div class="btn-group pull-right">
    <button class="btn btn-default" {{action 'previousPage'}}{{bind-attr disabled=disablePreviousPage}}>
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button class="btn btn-default" {{action 'nextPage'}}{{bind-attr disabled=disableNextPage}}>
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
</div>