<div class="report-header">
  <img src="http://www.webscript.solutions/images/web.png" class="report-logo">
  <h4>Hospital Name</h4>
  <span>Hospital Address, No 23, 4th Avenue, Gwarimpa Abuja.</span>
</div>