{{#em-form model=this submit_button=false}}
    {{em-input property="firstName" label="First Name"}}
    {{em-input property="lastName" label="Last Name"}}
    <div class="form-group">
        <label>Gender:</label>
        {{ext-radio name=gender content=genderList value=gender}}
    </div>
{{/em-form}}