{{#if showProgress}}
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow={{progressBarValue}}
             aria-valuemin="0" aria-valuemax="100" style={{progressBarStyle}}>
            <span class="sr-only">{{progressBarValue}}% Complete</span>
        </div>
    </div>
{{/if}}
{{message}}
