{{#modal-dialog
    hideCancelButton=model.hideCancelButton
    hideUpdateButton=model.hideUpdateButton
    isUpdateDisabled=model.isUpdateDisabled
    title=model.title
    updateButtonAction=model.updateButtonAction
    updateButtonText=model.updateButtonText
    cancelButtonText=model.cancelButtonText }}
  {{#if model.showProgress}}
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow={{model.progressBarValue}}
      aria-valuemin="0" aria-valuemax="100" style={{model.progressBarStyle}}>
        <span class="sr-only">{{t 'loading.progressBar.progress' progressBarValue=model.progressBarValue}}</span>
      </div>
    </div>
  {{/if}}
  {{model.message}}
{{/modal-dialog}}
